.about-page {
   .about-page-body {
      .about-page-body-text {
         display: inline-block;
         width: 55%;
         color: white;
         text-align: center;
         display: inline-block;
         width: 100%;
      }
      .about-page-body-image {
         display: inline-block;
         width: fit-content;
      }
   }
}
