.flowers-cart-page {
   .flowers-cart-page-body {
      display: flex;
      flex-direction: column;
      width: 900px;
      align-items: center;
      padding-left: 50px;
      padding-bottom: 20px;
   }

   .flowers-cart-page-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      height: 50vh;

      .spinner-border {
         color: white;
         --bs-spinner-width: 10rem;
         --bs-spinner-height: 10rem;
      }
   }

   .flowers-cart-page-body-title {
      color: white;
      font-size: 32px;
      text-align: justify;
      padding-top: 40px;
      display: inline-block;
      width: 100%;
      font-family: "Abel";
      font-size: 50px;
   }

   .flowers-cart-page-body-text {
      display: flex;
      color: #e8e8e8;
      width: 100%;
      text-align: justify;
      font-family: "Abhaya Libre Medium";
      font-size: 18px;
      font-weight: bold;
      border: 1px solid white;
      background-color: rgb(68, 67, 67);
      align-items: center;

      .flowers-cart-page-body-price {
         padding-left: 5px;
         font-weight: normal;
         color: gray;
      }

      .flowers-cart-page-body-quantity {
         margin-left: auto;
         font-weight: normal;
         font-size: 20px;
         display: flex;
      }

      .flowers-cart-page-body-img {
         margin-top: 5px;
         margin-left: 5px;
         margin-bottom: 5px;
         margin-right: 10px;
         width: 50px;
         height: 50px;
         overflow: hidden;
      }

      .flowers-cart-page-body-img img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      .btn-delete-order-item {
         border: none;
         background-color: transparent;
         color: red;
         cursor: pointer;
         font-size: 16px;
      }
   }

   .buttons-container {
      display: flex;
      justify-content: space-between;
      width: 40%;
      padding-left: 190px;
      padding-bottom: 20px;
   }
}
