.flowers-page {
   .flowers-page-body {
      .flowers-page-body-text {
         display: inline-block;
         width: 55%;
         color: white;
      }
      .flowers-page-body-image {
         display: inline-block;
         width: fit-content;
         padding-top: 40px;
         padding-left: 50px;
      }
   }
}
