.myflowers-page {
   .myflowers-page-body {
      .myflowers-page-title {
         padding-top: 10px;
         padding-bottom: 20px;
         color: white;
         padding-left: 70px;
         font-family: "Abhaya Libre";
         font-weight: 400;
         font-size: 40px;
      }

      .myflowers-page-flowers {
         color: white;
         font-size: 32px;
         text-align: justify;
         padding-top: 40px;
         display: inline-block;
         width: 100%;
         font-family: "Abel";
         font-size: 50px;
         cursor: pointer;
      }
   }
}
